<!DOCTYPE html>
<html lang="en">

<head>
  <title>TutorMe</title>
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Rails assets -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<% if user_signed_in? %>
<body id="page-top">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul style ="width: 28rem!important;" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" style=" height:7em;" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink" style="width: 5em; height:5em;"></i>
        </div>
        <div class="sidebar-brand-text mx-3" > <span style="font-size: 25px; color: black;text-transform: lowercase;"> tutor</span> <span style="color:white; font-size: 25px;"> ME </span></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      
      <!-- Nav Item - Course Dashboard -->
      <li class="nav-item active" >
        <%= link_to courses_path, class: "nav-link" do %>
          <i class="fa fa-book" style="height: 1.5em;width: 1.5em;"></i>
          <span style="font-size:large;">Courses</span> 
        <% end %>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Tutors Dashboard -->
      <li class="nav-item active" >
        <%= link_to tutors_path, class: "nav-link" do %>
          <i class="fa fa-user-graduate" style="height: 1.5em;width: 1.5em;"></i>
          <span style="font-size:large;">Tutors</span></a>
        <% end %>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Tutors Dashboard -->
      <li class="nav-item active" >
        <%= link_to students_path, class: "nav-link" do %>
          <i class="fa fa-user" style="height: 1.5em;width: 1.5em;"></i>
          <span style="font-size:large;">Students</span></a>
        <% end %>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider">


      <!-- Nav Item - Tutors Dashboard -->
      <li class="nav-item active" >
        <%= link_to resumes_path, class: "nav-link" do %>
          <i class="fa fa-file" style="height: 1.5em;width: 1.5em;"></i>
          <span style="font-size:large;">Resumes</span></a>
        <% end %>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider">

     
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav style="height: 7rem;" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw" style="width: 2em; height: 2em;"></i>
                <!-- Counter - Alerts -->
                <%# <span class="badge badge-danger badge-counter" >3+</span> %>
              </a>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw" style="width: 2em; height: 2em;"></i>
                <!-- Counter - Messages -->
                <%# <span class="badge badge-danger badge-counter">7</span> %>
              </a>
            </li>

          
            <div class="topbar-divider d-none d-sm-block"></div>
            
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="font-size:medium ;"><%= current_user.email.split('@')[0] %></span>
                <img style= "width: 3em; height: 3em;" class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
            </li>

            <div  class="topbar-divider d-none d-sm-block"  ></div>
           
            <!-- Logout button -->
            <li class="nav-item dropdown no-arrow">
              <%= link_to destroy_user_session_path, :style => "position:relative; top:8px;", method: :delete  do%>
                <span class="icon"><i class="fas fa-sign-out-alt" style="width: 2em; height: 2em;"></i></span>
              <% end %>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->


        <br/>
        <%= yield %>
      </div>
          
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">  
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>
</body>
<%else %>
<% yield  '/user/signin' %>
<% end %>

</html>
